<div style="width: 98%; margin: 0 auto; margin-top: 4%;" class="shadow-lg p-3 mb-5 rounded" >
    <mat-grid-list cols="4" rowHeight="150px">
        <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
            <div style="width: 95%; height: 95%;" *ngIf="tile.id === 1">
               

                <div style="width:40%; margin: 0 auto; margin-top: 10%;  ">
                    
                    <div style="margin: auto; ">
                  
                    <div class="input-group mb-3" >
                        <input [(ngModel)]="usuario" autocomplete="off" type="text" class="form-control" placeholder="Usuario" aria-label="Clave" aria-describedby="basic-addon2">
                        
                      </div>
                </div>
                    <hr>
                    <div style=" margin: auto; background-color: white;">
                    <mat-form-field >
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" [(ngModel)]="password" autocomplete="off" >
                    </mat-form-field>
                    </div>
                     <hr>
                     <button mat-raised-button color="Warn" *ngIf="valida()" (click)="navegar()">Ingresar</button>
              
                </div>

            </div>


            <div style="width: 95%; height: 95%;" *ngIf="tile.id === 2">

                <img src="https://api.hibe.com/file/images/upload/2019/3/aaa/aiw/cDExMTg1MF8xOTkzMDRfOTM3.png" width="90%" style="margin: 0 auto; margin-top: 3%;">
            </div>
        </mat-grid-tile>
    </mat-grid-list>

</div>