/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    height: 100%;
    background: rgb(226,226,226);
    background: linear-gradient(90deg, rgba(226,226,226,1) 5%, 
                                       rgba(180,58,58,1) 46%, 
                                       rgba(246,246,246,1) 82%);}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

div {
    overflow: scroll;
  
}

::-webkit-scrollbar{

    width: 0;
   
   }
.mat-toolbar.mat-primary {
    background-color: rgb(208, 44, 56);
}

